# OCaml things
_build/
**/.merlin

.Xil/
hardcaml_arty_top.v

vivado_pid*.str
*.jou
*.log

ips/*/*.v
ips/*/*.veo
ips/*/*.xdc
ips/*/*.xml
ips/*/doc/

outputs/*.dcp
outputs/*.bit
outputs/*.log
outputs/*.rpt
