# OCaml things
_build/
**/.merlin

# Output artifacts
examples/*/outputs/*.dcp
examples/*/outputs/*.bit
examples/*/outputs/*.log
examples/*/outputs/*.rpt

examples/*/ips/*/*.v
examples/*/ips/*/*.veo
examples/*/ips/*/*.xdc
examples/*/ips/*/*.xml
examples/*/ips/*/doc/
examples/*/ipshared/

examples/*/.Xil/
examples/*/hardcaml_arty_top.v

examples/*/vivado_pid*.str
examples/*/*.jou
examples/*/*.log
examples/*/hardcopy.0
